/* || General Styles */

:root {
    /* grays */
    --dark-gray-90:#15141a;
    --dark-gray-80:#1c1b22;
    --dark-gray-70:#23222b;
    --dark-gray-60:#2b2a33;
    --dark-gray-50:#32313c;
    --dark-gray-40:#3a3944;
    --dark-gray-30:#42414d;
    --dark-gray-20:#4a4a55;
    --dark-gray-10:#52525e;
    --dark-gray-05:#5b5b66;

    /* violets */
    --violet-05: #e7dfff;
    --violet-10: #d9bfff;
    --violet-20: #cb9eff;
    --violet-30: #c689ff;
    --violet-40: #ab71ff;
    --violet-50: #9059ff;
    --violet-60: #7542e5;
    --violet-70: #592acb;
    --violet-80: #45278d;
    --violet-90: #321c64;
    
    /* blues */
    --blue-05: #aaf2ff;
    --blue-10: #80ebff;
    --blue-20: #00ddff;
    --blue-30: #00b3f4;
    --blue-40: #0090ed;
    --blue-50: #0060df;
    --blue-60: #0250bb;
    --blue-70: #054096;
    --blue-80: #073072;
    --blue-90: #09204d;
    
    

    /* font sizes */
    --text-base:16px;
    --text-sm:14px;
    --text-md:18px;

    @import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@700&display=swap');
}

body {
    background-color: var(--dark-gray-90);
    color: white;
    font-family: 'Public Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--text-base);
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Rubik' sans-serif;
}


a:link{
    color: var(--violet-20);
}

a:visited{
    color: var(--violet-10);
}

a:hover {
    color: var(--violet-50);
}

/* ... */

/* || Header */
.outer-header {
    width: 100%;
    background-color: var(--dark-gray-90);
    border-bottom: 2px solid var(--dark-gray-80);
    box-shadow: 0 2px 8px 0 #0b0a0e;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header {
    display: flex;
    box-sizing: border-box;
    min-width: inherit;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    padding-right: 30px;
    margin: auto;
}


.header a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 500;
}

.header a:hover {
    background-color: var(--dark-gray-70);
}

.header .name {
    font-size: 48px;
    text-decoration: none;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 14px;
}

/* ... */

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    bottom: 0;
    width: 100%;
    /* padding: 0px 25px; */
    background-color: var(--dark-gray-90);
    border-top: 1px solid var(--dark-gray-80);
    margin-top: 20px;
}

.footer a {
    color: var(--violet-05);
}

.footer .cp-right {
    opacity: .5;
    margin-left: 25px;
}

.footer .socials {
    margin-right: 15px;
}

.footer .socials img{
    /* padding-left: 5px;
    padding-right: 10px;  */
    padding: 10px 15px;
    opacity: 0.5;
    border-radius: 5px;
    
}

.footer img:hover {
    background-color: var(--dark-gray-40);
    opacity: 1;
}

/* ... */

/*|| Content */

/* .content{
    display: flex;
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
    background-color: var(--dark-gray-80);
    padding: 20px;
    border-radius: 15px;
    line-height: 1.6;
} */

/* ... */

/* || Single */
    .single-content {
        font-weight: 200;
        margin: auto;
        max-width: 900px;
        width: 100%;
        padding: 1.5rem 2rem;
        background-color: var(--dark-gray-80);
        border-radius: 1rem;   
        line-height: 1.6;
    }

    .title {
        margin: 0px 0px;
        color: var(--violet-20);
    }

    .single-date {
        font-style: italic;
        color: var(--dark-gray-05);
        padding: 10px 0;
        border-bottom: 1px solid var(--violet-30);
    }

    .single-status {
        margin: 5px 0;
        font-size: small;
        color: var(--violet-10); 
    }

    .single-post-markup{
        padding: .2rem 1rem;
    }

    .single-content figure img{
        max-height: 500px;
    }

    /* .single-content figure figcaption {
    } */

/* ... */


/* || List */
    .posts-title {
        font-weight: 500;
        font-size: 17px;
    }

    .posts-date#list {
        border-bottom: 1px solid var(--violet-05);
        margin-bottom: 15px;
    }

    .list-content {
        display: flex;
        max-width: 900px;
        margin: auto;
        background-color: var(--dark-gray-80);
        padding: .5rem 2rem;
        border-radius: 15px;
        line-height: 1.6;
    }
/* ... */

/* Shortcodes */
    .content-gallery {
        line-height: 0;
        display: grid;
        grid-auto-flow: row;
        grid-area: span;
        gap: .5rem;
        grid-template-columns: repeat(4, auto);
        background-color: var(--dark-gray-70);
        padding: .5rem;
        border-radius: .5rem;
    }

    .content-gallery img {
        width: 100% !important;
        height: auto !important;
        border-radius: .4rem;
    }

    @media (max-width: 1200px) {
        .content-gallery {
            grid-template-columns: repeat(3, auto);
        }
    }
    @media (max-width: 1000px) {
        .content-gallery {
            grid-template-columns: repeat(2, auto);
        }
    }





/* || Homepage */
.intro {
    background-color: var(--dark-gray-80);
    padding: 1px 0px;
    border-radius: 20px;
    margin: 115px auto 20px;
    max-width: 600px;
    border-bottom: 2px solid var(--dark-gray-50);
}

.intro p {
    margin: 15px;
}

.intro :first-child{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.intro p {
    text-align: center;
}

.intro img{
    background-color: var(--dark-gray-70);
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
}

.intro img:hover {
    background-color: var(--dark-gray-50);
}

.socials {
    padding: 0px;
}

.add-in {
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
}

.newest-arrow {
    font-family: 'Brush Script MT', cursive !important;
    margin-left: auto;
}

.home-posts {
    display: flex;
    box-sizing: border-box;
    max-width: 900px;
    border-radius: 20px;
    justify-content: center;
    margin: auto;
    background-color: var(--dark-gray-80);
    padding: 10px;
    
}

.home-posts #home-blog-posts {
    z-index: 2;
    font-size:larger; 
    text-decoration: none;
    rotate: 180deg;
    writing-mode: vertical-lr;
    font-weight: 500;
    color: white;
    margin: 5px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    text-transform: uppercase;
}

.home-posts ul {
    margin: auto;
    padding-left: 20px;
}

.home-posts #blog-header {
    padding: 5px;
    margin: 0px;
    /* padding-left: 10px; */
    text-align: center;
    align-items: center;
    background-color: var(--dark-gray-70);
    border-radius: 14px 0 0 14px;
}


.posts-title a{
    font-weight: 600;
    font-size: large;
    color: var(--violet-20);
    text-decoration: underline;
}
.posts-content {
    margin-top: 0px;
    font-weight: 200;
}
.posts-date {
    font-style: italic;
    font-size: small;
    color: var(--dark-gray-05);
    margin: 10px auto;

}

.home-entries {
    border-bottom: 1px solid var(--violet-05);
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* ... */

pre {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--dark-gray-90);
    margin: 20px 100px;
}