<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BS - {{.Title}}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    {{/*  <link rel="apple-touch-icon" sizes="180x180" href="/./static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/./static/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/./static/assets/favicon-16x16.png">
    <link rel="manifest" href="/./static/assets/site.webmanifest">  */}}
</head>
<body>
    {{ partial "header" . }}

    <div style="margin-top: 125px;"></div>
    {{ block "main" .}}
        {{/*  main  */}}
    {{ end }}
        
    {{ partial "footer" . }}

</body>
</html>