{{ define "main" }}
    <div class="list-content">
        {{.Content}}
        <ul style="list-style: none;">
            {{ range .Pages }}
            <li><a class="posts-title" href="{{.Permalink}}">{{.Title}}</a></li>
            <l1 class="posts-content">{{ .Summary }}...</l1>
            <li id="list" class="posts-date">{{ dateFormat "Jan 1, 2006" .Date }}</l1>
                {{ end }}
            </ul>
    </div>
{{ end }}




{{/*  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
    LIST Page
    {{.Content}}
    <ul style="list-style: none;">
        {{ range .Pages }}
        <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{ end }}
    </ul>
</body>
</html>  */}}
