{{/*  <aside>
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="{{ $currentPage.IsActive }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
        {{ end }}
    </ul>
</aside>  */}}


{{ define "header" }}
    <div>
    <a class="header" href="http://localhost:1313">Brook Slagle</a>
    <a class="header" href="http://localhost:1313/posts/">Blog</a>
    <a class="header" href="http://localhost:1313/about_me/">About Me</a>
    <a class="header" href="http://localhost:1313/portfolio">Portfolio/Resume</a>
    </div>
{{ end }}